# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Sanity Studio
dist/
.sanity/

# Turbo
.turbo

# Environment files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
